@import "tailwindcss";

@layer base {
  :root {
    --background: 246 248 250;
    --foreground: 18 18 18;
  }

  .dark {
    --background: 18 18 18;
    --foreground: 246 248 250;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: "PP Object Sans", system-ui, sans-serif;
}
